{% extends 'mainapp/layouts/product_layout.html' %}
{% load static %}
{% block productmenu %}
{% for i in men %}
<li class="menu-link product"><a href="/product/cat{{i.id}}" class="menu-link product">{{i.name}}</a></li>
{% endfor %}
{% endblock %}
{% block content %}
{% for i in cat %}
<a href="{%url 'product:index' %}{{i.id}}"><img src="/media/{{i.img}}" class="related_links" alt=""></a>
{% endfor %}
{% endblock%}
 {% block related %}

 {% endblock %}
{% block trends %}

{% endblock %}