{% extends 'ordersapp/base.html' %}
{% load static %}
{% block content %}
    <div class="userordergreetings">
    Your Orders, {% if user.first_name %}{{ user.first_name }}{% else %}User
    {% endif %}
    </div>
    <table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {% for item in object_list %}
    {% if item.is_active %}
    <tr>
        <td>{{ item.pk }}</td>
        <td>{{ item.created|date:'Y-m-d H:i:s' }}</td>
        <td>{{ item.updated|date:'Y-m-d H:i:s' }}</td>
        <td>{{ item.get_status_display }}</td>
        <td>
            <a href="{% url 'ordersapp:order_read' item.pk %}">Show</a>
        </td>
        <td>
            {% if item.status == 'FM' %}
            <a href="{% url 'ordersapp:order_update' item.pk %}">Edit</a>
            {% endif %}
        </td>
        <td>
            {% if item.status == 'FM' %}
            <a href="{% url 'ordersapp:order_delete' item.pk %}">Delete</a>
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
    </table>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'ordersapp:order_create' %}" class="menu-link">NEW</a>

{% endblock %}